.cards {
  display: none;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 1rem 0;
  border-radius: 3px;
  box-shadow: 0 0 2px gray;
  &.card_disable {
    color: $color-disable;
  }
}
.div_container {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 8px 0;
}
.div_container.more {
  align-items: flex-start;
  .test {
    width: 60%;
  }
  p {
    word-break: break-word;
  }
}

.sub_left_container {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  gap: 1rem;
}
.sub_right_container {
  display: flex;
  flex-basis: 50%;
  align-items: center;
  gap: 0.3rem;
  h4 {
    width: auto;
    text-align: left;
  }
}
h4 {
  width: 80px;
  text-align: right;
}

.card_yellow {
  color: $color-yellow;
  font-weight: bold;
  display: flex;
  font-size: 13px;
  align-items: center;
  font-size: 12px;
  p {
    margin-right: 5px;
  }

  .moneyDiv.card_btn_disable {
    color: $color-disable;
  }
}
.card_btn_container {
  width: 70%;
  display: flex;
  gap: 8px;
  margin: 10px auto;
}
.btnCard {
  width: 50%;
  color: $color-red;
  border: 1.5px solid $color-red;
  background-color: transparent;
  padding: 5px 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

/*media*/
@media screen and (max-width: 1249px) {
  .cards {
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin: 1rem auto;
    padding: 10px;
  }
  h4 {
    font-size: 10px;
  }
  p {
    font-size: 8px;
  }
}
