$lightBlue: rgb(113, 210, 245);
$color-red: red;
$color-disable: gray;
$color_white: white;
$color-yellow: rgb(237, 138, 10);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  display: flex;
  width: 95vw;
  margin: 0 auto;
}
@import "./table";
@import "./card";
